#thefile {
    
    top: 10px;
    left: 10px;
    
    z-index: 100;
  }
  
  #canvas {
    
    position: absolute; 
    
    right: 21.5%;
    bottom: 39%;
    /* left: 25%;
    bottom: 25%; */
    /* left: 0;
    top: 0;  */
    
    width: 50%;
    height: 20%;
    
    
  }
  
  audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
  }
  